.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  animation: fadeInUp 0.6s ease-out both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feedImage {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: auto;
  max-width: 200px;
  height: auto;

  animation: fadeIn 1.5s ease-out;
}

@media (max-width: 768px) {
  .feedImage {
    position: static;
    margin-top: 1rem;
    max-width: 80%;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .formFeedback {
    padding: 1.5rem;
  }
}

.titlefeed {
  color: var(--maroon-primary);
}

.formFeedback {
  animation: fadeInUp 0.6s ease-out both;
  background-color: var(--minibackground);
  padding: 2rem;
  border-radius: var(--radius);
  border: 2px solid maroon;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 600px;
  margin: 2rem 0;
}

.formFeedback div {
  margin-bottom: 1.5rem;
}

.formFeedback label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.formFeedback input,
.formFeedback select,
.formFeedback textarea {
  width: 100%;
}

.FeedbackSubmit {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  background-color: var(--maroon-primary);
}
