.helpmain {
  width: 100%;
  text-align: center;
}

.helpmain h5 {
  color: var(--maroon-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.helpmain p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}
