.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.logoutButton {
  background-color: var(--white);
  color: var(--maroon-primary);
  border: none;
  border-radius: var(--radius);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #600000;
  color: white;
}

.logoutButton:active {
  transform: scale(0.98);
}
